body{
background-color: #f0f2f5;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.calculator{
  background-color: #fff;
  padding: 30px 40px;
  border-radius:15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;
}

.calculator h2{
  margin-bottom: 20px;
  color: #333;
}

.calculator input{
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #333;
  color: #fff;

}
.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.buttons button{
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #c4af50;
  color: white;
  transition: background 0.3s;
}
.buttons button:hover{
  background-color: #45a049;
}

.buttons .clear{
  background-color: #f44336;
}
.buttons .clear:hover{
  background-color: #e539e5;
}
.result{
  margin-top: 20px;
  color: #333;
}
